.line {
	text-decoration: line-through;
}

.active {
	background-color: #ccc;
}

.btn-delete {
	float: right;
}

.navbar {
	margin-bottom: 30px;
}

.list-group-item span {
	margin-left: 10px;
}

.list-group {
	margin-bottom: 30px;
}

.btns-list button {
	margin-right: 10px;
}